<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="img/favicon.ico"> 
	<link rel="stylesheet" href="css/vendor/fluidbox.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/search-box.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	
	<title>Speak with Snaps | Child Assisstant</title>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>

</head>
<body>


	<header>

		<div id="logo-container">
			<div id="logo"><a href="#">Speak with Snaps</a></div>
			<div id="subtitle">Assisstant for special children</div>
		</div>
<!-- 		<nav>
			<ul>
				<li><a href="#">Link 1</a></li>
				<li><a href="#">Link 2</a></li>
				<li><a href="#">Link 3</a></li> 
				<li><a href="mailto:your@address.com" class="bordered">Contact</a></li>
			</ul>
		</nav> -->

	</header>
	
	<script>
	var app = angular.module('Snaps', []);
	app.controller('searchCntl', function ($scope){
	
		$scope.placesVisited = [];
		
	});
	</script>

	<div id="content" ng-app="Snaps" ng-controller="searchCntl">

		<section class="intro">			
			<p>
				Speak with Snaps is a simple single-page website template. This is the place where you would normally introduce yourself. You can easily change the template to fit your needs by changing the text, photos and styles.				
				Enter the name of the child below:
			</p>						
			
			<!-- search bar -->
			
			
					<div class="box">
					  <div class="container-1">
						  <span class="icon"><i class="fa fa-search"></i></span>
						  <input type="search" id="search" ng-model="name" placeholder="Search a name..." />
						  
						  <ul>  
							<li  ng-repeat="place in placesVisited | filter:names">  
								<a ng-href="https://www.google.co.in/webhp?q={{place}}">{{place}} </a>  
							</li>  
						  </ul>  
						  
					  </div>
					</div>			
			
			
		</section>

		<!-- <section class="row">
			<div class="col-full">
				<h2>Example title</h2>
				<p>
					Gumba is a fictional agency from Amsterdam, The Netherlands. This is the place where you would normally introduce yourself. You can easily change the template to fit your needs by adding text or changing the colors and styles.
				</p>
			</div>
		</section> -->

		<section class="row">
			<div class="photo-grid">
				<a ng-href="https://i1.wp.com/nevildsouza.files.wordpress.com/2017/04/eat.jpg?ssl=1&w=450" rel="lightbox" class="col-3">
				<img ng-src="https://i1.wp.com/nevildsouza.files.wordpress.com/2017/04/eat.jpg?ssl=1&w=450" alt=""></a>
				<a ng-href="https://i2.wp.com/nevildsouza.files.wordpress.com/2016/07/{{name}}-icon.png?w=400&h=400&crop=1&ssl=1" rel="lightbox" class="col-3">
				<img ng-src="https://i2.wp.com/nevildsouza.files.wordpress.com/2016/07/{{name}}-icon.png?w=400&h=400&crop=1&ssl=1" alt="Example photo"></a>
				<a ng-href="https://i2.wp.com/nevildsouza.files.wordpress.com/2016/07/{{name}}-icon.png?w=400&h=400&crop=1&ssl=1" rel="lightbox" class="col-3">
				<img ng-src="https://i2.wp.com/nevildsouza.files.wordpress.com/2016/07/{{name}}-icon.png?w=400&h=400&crop=1&ssl=1" alt="Example photo"></a>
				<a ng-href="https://i2.wp.com/nevildsouza.files.wordpress.com/2016/07/{{name}}-icon.png?w=400&h=400&crop=1&ssl=1" rel="lightbox" class="col-3">
				<img ng-src="https://i2.wp.com/nevildsouza.files.wordpress.com/2016/07/{{name}}-icon.png?w=400&h=400&crop=1&ssl=1" alt="Example photo"></a>
				<a ng-href="https://i2.wp.com/nevildsouza.files.wordpress.com/2016/07/{{name}}-icon.png?w=400&h=400&crop=1&ssl=1" rel="lightbox" class="col-3">
				<img ng-src="https://i2.wp.com/nevildsouza.files.wordpress.com/2016/07/{{name}}-icon.png?w=400&h=400&crop=1&ssl=1" alt="Example photo"></a>
				<a ng-href="https://i2.wp.com/nevildsouza.files.wordpress.com/2016/07/{{name}}-icon.png?w=400&h=400&crop=1&ssl=1" rel="lightbox" class="col-3">
				<img ng-src="https://i2.wp.com/nevildsouza.files.wordpress.com/2016/07/{{name}}-icon.png?w=400&h=400&crop=1&ssl=1" alt="Example photo"></a>
				
				
				
			</div>
		</section>


		<section class="row">
			<div class="col">
				<h2>Contact</h2>
				<p>
					Want to work with us? Just send us an <a href="mailto:#">email</a>.
				</p>
			</div>
			<div class="col">
				<h2>Follow us</h2>
				<p>
					We are on <a href="http://twitter.com/rickwaalders">Twitter</a>, <a href="http://dribbble.com/rickwaalders">Dribbble</a> and <a href="http://instagram.com/rickwaalders">Instagram</a>.
				</p>
			</div>
		</section>


		<section class="row">
			<div class="col-full">
				<p>
					© 2014 - This is a free website template by <a href="http://www.pixelsbyrick.com">Rick Waalders</a>
				</p>
			</div>
		</section>
 
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>	
	<script src="js/search-box.js"></script>
	
	
	<script>
	if (!window.jQuery) 
	{
	    document.write('<script src="js/vendor/jquery.1.11.min.js"><\/script>');
	}
	</script>
	<script src="js/vendor/jquery.fluidbox.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>

