<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="img/favicon.ico"> 
	<link rel="stylesheet" href="css/vendor/fluidbox.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/search-box.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	
	<title>Speak with Snaps | Child Assisstant</title>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>

</head>
<body>


	<header>

		<div id="logo-container">
			<div id="logo"><a href="#">Speak with Snaps</a></div>
			<div id="subtitle">Assisstant for special children</div>
		</div>
<!-- 		<nav>
			<ul>
				<li><a href="#">Link 1</a></li>
				<li><a href="#">Link 2</a></li>
				<li><a href="#">Link 3</a></li> 
				<li><a href="mailto:your@address.com" class="bordered">Contact</a></li>
			</ul>
		</nav> -->

	</header>
	
	<script>
	var app = angular.module('Snaps', []);
	app.controller('searchCntl', function ($scope){
	
		$scope.name='demo';
		
	});
	</script>

	<div id="content" ng-app="Snaps" ng-controller="searchCntl">

		<section class="intro">			
			<p>
				Speak with Snaps is a simple single-page app for NGO members who teach & take care of specially challenged or deaf and dumb young children. 
				This app is a step to simplify communication process between the child and the teacher.
				Enter the name of the child below:
			</p>						
			
			<!-- search bar -->
			
			
					<div class="box">
					  <div class="container-1">
						  <span class="icon"><i class="fa fa-search"></i></span>
						  <input type="search" id="search" ng-model="name" placeholder="Search a name..." />
						  
						  <ul>  
							<li  ng-repeat="place in placesVisited | filter:names">  
								<a ng-href="https://www.google.co.in/webhp?q={{place}}">{{place}} </a>  
							</li>  
						  </ul>  
						  
					  </div>
					</div>			
			<div class="photo-grid">
				<a class="img-hover" ng-href="img/{{name}}-eat.jpg" rel="lightbox" class="col-3">
				<img ng-src="img/{{name}}-eat.jpg" alt="EAT" style="height: 400px;width:400px"></a>
				<a class="img-hover" ng-href="img/{{name}}-drink.jpg" rel="lightbox" class="col-3">
				<img ng-src="img/{{name}}-drink.jpg" alt="DRINK" style="height: 400px;width:400px"></a>
				<a class="img-hover"  ng-href="img/{{name}}-pee.jpg" rel="lightbox" class="col-3">
				<img ng-src="img/{{name}}-pee.jpg" alt="PEE" style="height: 400px;width:400px"></a>
				<a class="img-hover" ng-href="img/{{name}}-headache.jpg" rel="lightbox" class="col-3">
				<img ng-src="img/{{name}}-headache.jpg" alt="HEAD ACHE" style="height: 400px;width:400px"></a>
				<a class="img-hover"  ng-href="img/{{name}}-stomachache.jpg" rel="lightbox" class="col-3">
				<img ng-src="img/{{name}}-stomachache.jpg" alt="STOMACH ACHE" style="height: 400px;width:400px"></a>
				<a class="img-hover" ng-href="img/{{name}}-playcricket.jpg" rel="lightbox" class="col-3">
				<img ng-src="img/{{name}}-playcricket.jpg" alt="PLAY CRICKET" style="height: 400px;width:400px"></a>
				<p>PLAY CRICKET</p>
				
				
			</div>
			
		</section>

		<!-- <section class="row">
			<div class="col-full">
				<h2>Example title</h2>
				<p>
					Gumba is a fictional agency from Amsterdam, The Netherlands. This is the place where you would normally introduce yourself. You can easily change the template to fit your needs by adding text or changing the colors and styles.
				</p>
			</div>
		</section> -->

		<section class="row">
			
		</section>


		<section class="row">
			<div class="col">
				<h2>Motivation</h2>
				<p>
					An idea implemented by one of Google Developers India member.
				</p>
				
				<video width="500" height="300" controls>
					<source src="vid/motivation.mp4" type="video/mp4">
				</video>
			</div>
			<div class="col">
				<h2>Sign Languages</h2>
				<p>
					Quick revision of sign languages to be taught to children to learn faster.
				</p>
				
				<video width="500" height="300" controls>
					<source src="vid/revision.mp4" type="video/mp4">
				</video>
			</div>
		</section>
		
		
		<section class="row">
			<div class="col-full">
				<p>
					© 2014 - This is a free website template by <a href="http://www.pixelsbyrick.com">Rick Waalders</a>
				</p>
			</div>
		</section>
 
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>	
	<script src="js/search-box.js"></script>
	
	
	<script>
	if (!window.jQuery) 
	{
	    document.write('<script src="js/vendor/jquery.1.11.min.js"><\/script>');
	}
	</script>
	<script src="js/vendor/jquery.fluidbox.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>

